body { margin:0; font-family:Arial; background:#0a0a0a; color:white; }
.hidden { display:none !important; }

#sidebar {
  width:200px; height:100vh; position:fixed;
  background:linear-gradient(#0d1b2a,#1b263b);
  padding:10px;
}
#sidebar button {
  width:100%; margin:5px 0; padding:10px;
  background:#1f4068; border:none; color:white;
  border-radius:10px;
}

#content { margin-left:200px; }
#topbar { background:#1b263b; padding:10px; text-align:right; }

.page { padding:20px; }

.card {
  background:#162447;
  padding:10px; margin:10px;
  border-radius:10px;
}

.modal {
  position:fixed; inset:0;
  background:rgba(0,0,0,0.8);
  display:flex; justify-content:center; align-items:center;
}
.box {
  background:#111;
  padding:20px;
  width:400px;
  border-radius:10px;
}

.center {
  display:flex; flex-direction:column;
  align-items:center; justify-content:center;
  height:100vh;
}

#schedule {
  display:grid;
  grid-template-columns:repeat(5,1fr);
}
.cell {
  border:1px solid #1f4068;
  height:40px;
}
.active { background:#1f4068; }